.sidebar{
    position:fixed;
    top:60px;
    left:0;
    bottom: 0;
    width:80px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}


.sidebar-icons{
padding-bottom: 20px;
padding-top: 25px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;

}

.sidebar-icons img{
    width:30px;
    flex: 1;
}

.sidebar-icons p{
    text-align: center;
    font-size: 11px;
}

.sidebar-icons:hover{
    background-color: rgb(230,230,230);
}